<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Une photo de châton pour attendrir l'être aimé</h1>
</div>

<br>
<body>
  
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="card-img-top" src=<%= @product.picture %> alt="Card image cap" style="max-width:100%">  
    </div>
    <div class="col-sm">
      <h2><%= @product.name %></h2>
                    <p><%= @product.description %></p>
                    <hr>
                    <h2 class="text-right"><%= @product.price %> € </h2>
                    <%=link_to "Add to cart", new_line_item_path(@product.id), :class=> "btn btn-primary btn-lg"%>
                    <hr>
    </div>

                
